# SPDX-FileCopyrightText: Copyright (C) 2018-2025 Uwe Klotz <uwedotklotzatgmaildotcom> et al.
# SPDX-License-Identifier: AGPL-3.0-or-later

[package]
name = "aoide-repo-sqlite"
description = "aoide - SQLite schema and trait implementations of aoide-repo"
publish = false
version.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true
categories.workspace = true
keywords.workspace = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
diesel = { workspace = true, features = ["64-column-tables", "numeric"] }
diesel_migrations = { version = "2.3.1", default-features = false, features = ["sqlite"] }
jiff.workspace = true
log.workspace = true
mime.workspace = true
nonicle.workspace = true
semval.workspace = true
strum = { workspace = true, features = ["derive"] }
unicase = "2.9.0"
url.workspace = true

# Workspace dependencies
aoide-core.workspace = true
aoide-core-api.workspace = true
aoide-repo.workspace = true
aoide-storage-sqlite.workspace = true

[dev-dependencies]
itertools.workspace = true
env_logger = "0.11.8"
test-log = "0.2.19"
uuid = { version = "1.19.0", features = ["v4"] }
