# SPDX-FileCopyrightText: Copyright (C) 2018-2023 Uwe Klotz <uwedotklotzatgmaildotcom> et al.
# SPDX-License-Identifier: AGPL-3.0-or-later

[package]
name = "aoide-core-api"
description = "aoide - Shared boundary types for repositories and usecases"
version.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true
publish = false

[dependencies]
num-derive = "0.3.3"
num-traits = "0.2.15"
semval = "0.5.0"
url = "2.3.1"

# Workspace dependencies
aoide-core = "=0.8.0"

[features]
default = []
# Feature to enable JavaScript bindings on wasm32-unknown-unknown
js = ["aoide-core/js"]
